/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Alinha os elementos em uma coluna para evitar sobreposição */
    gap: 20px; /* Espaço entre os cards, se houver mais de um */
}

/* Card de Formulário */
.room-form-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.room-form-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
}

.room-form-card h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Estilos dos campos */
.form-group label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    background-color: #f8f8f8;
    color: #555;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #cc0000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

.form-group textarea {
    resize: vertical;
}

/* Botões */
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.primary {
    background-color: #cc0000;
    color: #fff;
}

.btn.primary:hover {
    background-color: #990000;
}

.btn.secondary {
    background-color: #e0e0e0;
    color: #666;
}

.btn.secondary:hover {
    background-color: #ccc;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .room-form-card {
        padding: 20px;
    }
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
    .btn {
        width: 100%;
    }
}
