/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

/* Container */
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

/* Room Details Card */
.room-details-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.room-details-card h1 {
    font-size: 35px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.room-number {
    color: #888;
    font-size: 18px;
    font-weight: normal;
}

/* Status Tags */
.status-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.status.disponivel {
    border: 1.5px solid red;
    color: red;
    padding: 5px 10px;
    border-radius: 20px;
}

.course-tag {
    border: 1.5px solid #888;
    color: #888;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Summary */
.summary {
    background-color: #fafafa;
    border: 1px solid #d3d2d2;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.summary h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Botões Estilos */
.manage-equipment-btn,
.save-btn,
.delete-btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: none;
}

.manage-equipment-btn,
.save-btn {
    background-color: #ff1010; /* Vermelho */
    color: white;
}

.manage-equipment-btn:hover,
.save-btn:hover {
    background-color: #e00d0d;
}

/* Responsividade */
@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
}
