/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    overflow-x: hidden;
}


/* Detalhes do Curso */
.course-detail {
    max-width: 800px;
    margin: 60px auto 20px;
    padding: 20px;
    
}

.course-details {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    padding: 30px;
}

.course-details h1 {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

/* Botões de Tags */
.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tag-btn {
    background-color: #f0f0f0;
    color: #333;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.tag-btn:hover, .tag-btn.active {
    background-color: #ff1010;
    color: #ffffff;
    border-color: #ff1010;
}

/* Borda no Card */
.bordered-card {
    padding: 20px;
    background-color: #fafafafa;
    border: 1px solid #d3d2d2;
    border-radius: 10px;
}

.course-summary {
    font-size: 16px;
    line-height: 1.8;
}

.course-summary ul {
    list-style-type: disc;
    padding-left: 20px;
}

.course-summary li {
    margin-bottom: 10px;
}

/* Botão Editar */
.edit-button {
    display: inline-block;
    background-color: #ff1010;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #e00d0d;
}

/* Responsividade */
@media (max-width: 768px) {
    .course-details {
        padding: 20px;
    }
}
