body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

.navbar {
    display: flex;
    align-items: center;
    /* background-color: #f8f8f8; */
    padding: 12px 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ff1010
}

.navbar .logo img {
    height: 40px;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h2 {
    text-align: center;
    font-size: 32px;
    color: #ff1010
}

.carousel {
    position: relative;
    width: calc(100vw - 128px);
    margin: 0 auto; /* Centraliza o carrossel */
    overflow: hidden;
    border: 1px solid #ddd; /* Adiciona uma borda ao carrossel */
    border-radius: 8px; /* Adiciona bordas arredondadas */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    vertical-align: middle;
}

.carousel-control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    transform: translateY(-50%);
    border-radius: 50%; /* Adiciona bordas arredondadas aos botões de controle */
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: #717171;
}
