@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}


.logo-login {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.login-container {
  background-color: #e8e7e7;
  padding: 25px;
  border-radius: 15px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 26px 26px 43px #bebebe, -26px -26px 43px #ffffff;
  width: 350px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: bold;
  width: 100%;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  font-style: bold;
  font-size: 14px;
  box-shadow: 0px 10px 20px -12px #850000;
}

button:hover {
  background-color: #cb0101;
}

/* DEIXAR RESPONSIVO */
/* @media (max-width: 768px) {
    .login-container {
        width: 90vw;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 20px 20px 30px #bebebe, -20px -20px 30px #ffffff;
    }

    .logo-login {
        width: 150px;
        margin-bottom: 15px;
    }

    .input-group label {
        margin-bottom: 8px;
    }

    .input-group input {
        padding: 8px;
    }

    button {
        padding: 10px;
        font-size: 13px;
        box-shadow: 0px 8px 16px -10px #850000;
    }
} */